@font-face {
    font-family: 'Post Grotesk Light';
    src: url('../fonts/PostGrotesk-Light.eot');
    src: url('../fonts/PostGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Light.woff2') format('woff2'), url('../fonts/PostGrotesk-Light.woff') format('woff'), url('../fonts/PostGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Post Grotesk Medium';
    src: url('../fonts/PostGrotesk-Medium.eot');
    src: url('../fonts/PostGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Medium.woff2') format('woff2'), url('../fonts/PostGrotesk-Medium.woff') format('woff'), url('../fonts/PostGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Regular.eot');
    src: url('../fonts/PostGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Regular.woff2') format('woff2'), url('../fonts/PostGrotesk-Regular.woff') format('woff'), url('../fonts/PostGrotesk-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Post Grotesk Bold';
    src: url('../fonts/PostGrotesk-Bold.eot');
    src: url('../fonts/PostGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Bold.woff2') format('woff2'), url('../fonts/PostGrotesk-Bold.woff') format('woff'), url('../fonts/PostGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-Heavy';
    src: url('../fonts/Loew-Heavy.eot');
    src: url('../fonts/Loew-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Heavy.woff2') format('woff2'), url('../fonts/Loew-Heavy.woff') format('woff'), url('../fonts/Loew-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew';
    src: url('../fonts/Loew-Medium.eot');
    src: url('../fonts/Loew-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Medium.woff2') format('woff2'), url('../fonts/Loew-Medium.woff') format('woff'), url('../fonts/Loew-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-Light';
    src: url('../fonts/Loew-Light.eot');
    src: url('../fonts/Loew-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Light.woff2') format('woff2'), url('../fonts/Loew-Light.woff') format('woff'), url('../fonts/Loew-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-Thin';
    src: url('../fonts/Loew-Thin.eot');
    src: url('../fonts/Loew-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Thin.woff2') format('woff2'), url('../fonts/Loew-Thin.woff') format('woff'), url('../fonts/Loew-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-Bold';
    src: url('../fonts/Loew-Bold.eot');
    src: url('../fonts/Loew-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Bold.woff2') format('woff2'), url('../fonts/Loew-Bold.woff') format('woff'), url('../fonts/Loew-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-Black';
    src: url('../fonts/Loew-Black.eot');
    src: url('../fonts/Loew-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-Black.woff2') format('woff2'), url('../fonts/Loew-Black.woff') format('woff'), url('../fonts/Loew-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loew-ExtraBold';
    src: url('../fonts/Loew-ExtraBold.eot');
    src: url('../fonts/Loew-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Loew-ExtraBold.woff2') format('woff2'), url('../fonts/Loew-ExtraBold.woff') format('woff'), url('../fonts/Loew-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}